*{
    margin: 0;
    box-sizing: border-box;
}

#container{
    display: flex;
    justify-content: center;
}
.gameCont{
    margin-top: 30px;
    width: 1000px;
    height: 1000px;
    border: 1px solid black;
    overflow: hidden;
}
.pointer{
    width : 300px;
    height: 150px;
    border: 1px, solid;
    position: absolute;
    border: 1px solid black;
    left: 1800px;
    top: 200px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family:fantasy;
    font-size: 200%;
}
